<div id="details" class="shadow details">
  {{#if badAdd}}
    <div class='formMessage'>Item already exists in wishlist..</div>
  {{/if}}
  <div id="err">{{error}}</div>
  {{> list}}
  <p>{{gamename}}</p>
  <p>{{price}}</p>
  <p>{{discount}}</p>
  <p>{{score}}</p>

  {{#if displayDetails}}
  	<form action="/addToWishlist" method="post">
    	<input id="add-btn" class="btn btn-primary" type="submit" value="Add To Wishlist">
  	</form>
  {{/if}}
</div>
