<div id="details" class="shadow details">
  <p>{{gamename}}</p>
  <p>{{price}}</p>
  <p>{{discount}}</p>
  <p>{{score}}</p>
  <p>{{error}}</p>
  <form action="/addToWishlist" method="post">
    <input id="add-btn" class="btn btn-primary" type="submit" value="Add To Wishlist">
  </form>
</div>
