<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	{{> header}}
	<body>
		<div id="container">
			{{#if loggedIn}}
				{{> loggedin_message}}
			{{else}}
	    	{{> login_form}}
			{{/if}}

			<img id="logo" src={{logo}}>
			<h1>Steam Wishlist</h1>

			<h3>Add Game</h3>
			<form action="/" method="post"><div class="form-group">
				<label for="game">Enter Game Name: </label>
				<input class="form-control" type="text" name="game">
				<input class="btn btn-primary" type="submit" value="OK">
			</div></form>
			<br>
			<p>{{gamename}}</p>
			<p>{{price}}</p>
			<p>{{discount}}</p>
			<p>{{score}}</p>
			<p>{{error}}</p>
		</div>

	</body>

	{{> footer}}
</html>
